@model ProyectoPrograCuatro.Models.Clientes

@{
    ViewBag.Title = "Confirmar Eliminación Clientes";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h2 class="mb-0">Confirmar Eliminación</h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Eliminar", "Clientes", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <h4>Datos del Cliente</h4>
                        <hr />
                        @Html.HiddenFor(model => model.Codigo)

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-danger">
                                    Eliminar
                                </button>
                                @ViewBag.Message
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <a asp-action="Lista" class="btn btn-secondary">Regresar a Clientes</a>
        </div>
    </div>
</div>
