@model ProyectoPrograCuatro.Models.Camiones

@{
    ViewBag.Title = "Confirmar Eliminación Camión";
}

<h2>Actualizar</h2>

@using (Html.BeginForm("Eliminar", "Camiones"))
{
    <div class="form-horizontal">
        <h4>Eliminar</h4>
        <hr />
        @Html.HiddenFor(model => model.Codigo)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Eliminar" class="btn-primary" />
                @ViewBag.Message
            </div>
        </div>
    </div>
}
<br />

<div>
    @Html.ActionLink("Regresar a Camiones", "Lista")
</div>
